* {
    box-sizing: border-box;
}

.mainSection {
    max-width: 800px;
    margin:0 auto;
    display: flex;
    justify-content: center;
}

.bgContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.hero {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 35px;
    height: 54px;
    background-image: url(../img/hero.png);
    background-position: 0px;
    border: 1px solid yellow;
    opacity: 0.7;
}