* {
    box-sizing: border-box;
}

.mainSection {
    max-width: 800px;
    margin:50px auto 0 auto;
    display: flex;
    justify-content: center;
}

.bgContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.hero {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 400px;
    width: 35px;
    height: 54px;
    background-image: url(../img/hero.png);
    background-position: 0px;
}

.ghost {
    position: absolute;
    top: 0;
    width: 45px;
    height: 54px;
    background-image: url(../img/ghost.png);
    background-position: 0px;
    animation: flying 0.3s infinite;
}
@keyframes flying{
    from {
        transform:scale(1);
    }
    to{
        transform: scale(0.9);
    }
}

.ghostDead {
    position: absolute;
    width: 45px;
    height: 54px;
    background-image: url(../img/ghost.png);
    background-position: 45px;
}

.ghostAlive {
    position: absolute;
    width: 45px;
    height: 54px;
    background-image: url(../img/ghost.png);
    background-position: 0px;
    animation: attack 0.3s ;
    opacity: 0;
}

@keyframes attack {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.2);
        opacity: 0;
    }
}