* {
    box-sizing: border-box;
}

.mainSection {
    max-width: 800px;
    margin:50px auto 0 auto;
    display: flex;
    justify-content: center;
}

.bgContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.hero {
    position: absolute;
    bottom: 0;
    left: 400px;
    width: 35px;
    height: 54px;
    background-image: url(../img/hero.png);
    background-position: 0px;
}

.ghost {
    position: absolute;
    top: 0;
    left: 400px;
    width: 45px;
    height: 54px;
    background-image: url(../img/ghost.png);
    background-position: 0px;
}

.ghostDead {
    position: absolute;
    top: 0;
    left: 400px;
    width: 45px;
    height: 54px;
    background-image: url(../img/ghost.png);
    background-position: 45px;
}